apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi
  template:
    metadata:
      labels:
        app: fastapi
    spec:
      containers:
      - name: fastapi
        image: idpx/fastapi
        ports:
        - containerPort: 8000
        env:
        - name: VAULT_ADDR
          value: "http://host.minikube.internal:8200"
        - name: VAULT_TOKEN
          value: "myroot"
---
apiVersion: v1
kind: Service
metadata:
  name: fastapi
spec:
  selector:
    app: fastapi
  type: NodePort
  ports:
  - port: 8000
    targetPort: 8000
    nodePort: 30080
